<style>
#container{
  margin-left:50px;
  vertical-align:top;
  width:100%;
  border:solid 0 transparent;
}

#Mcontainer0{
  margin-left:50px;
  vertical-align:top;
  width:100%;
  border:solid 0 transparent;
}

#container1{
  display: inline-block;
  text-align: center;
  vertical-align:top;
  margin-left:50px;
  margin-bottom:50px;
  width:20%;
  min-height:100px;
  border:1px solid #000;
}

#container2{
  display: inline-block;
  text-align: center;
  vertical-align:top;
  margin-left:50px;
  margin-bottom:50px;
  width:20%;
  min-height:100px;
  border:1px solid #000;
}

#container3{
  display: inline-block;
  text-align: center;
  vertical-align:top;
  margin-left:50px;
  margin-bottom:50px;
  width:20%;
  min-height:100px;
  border:1px solid #000;
}

#container4{
  display: inline-block;
  text-align: center;
  vertical-align:top;
  margin-left:50px;
  margin-bottom:50px;
  width:20%;
  min-height:100px;
  border:1px solid #000;
}

#subcontainer1{
  display: inline-block;
  text-align: center;
  margin-top:0px;
  vertical-align:top;
  margin-left:20%;
  margin-right:20%;
  margin-bottom:50px;
  width:60%;
  min-width:700px;
  min-height:300px;
  border:1px solid #000;
}

#MaddD1{
  display: inline-block;
   margin-right:10%;
   margin-bottom:5%;
   min-width:230px;
   vertical-align:top;
   height:200px;
   border:1px solid #000;
}

#ListTextForm{
  display:none;
  margin-bottom:0;
}

#Listbut2{
  width:100%;
  height:35px;
  display: none;
}

#Listbut1{
  min-width:230px;
  height:200px;
  display: inline-block
}

#ListText1{
  display:none;
  width:100%;
  height:35px;
}

#DelSumbit01 {
  display: inline-block;
  vertical-align:top;
  min-width:100%;
  height:30px;
  border:1px solid #000;
}

#container1List{
  display: inline-block;
  text-align: center;
  vertical-align:top;
  margin-left:20%;
  margin-right:20%;
  margin-bottom:50px;
  width:60%;
  min-width:700px;
  min-height:500px;
  border:1px solid #000;
}

.Homebut {
  display: inline-block;
  width:120px;
  vertical-align:top;
  height:37px;
  border:1px solid #000;
}

a { text-decoration : none; color : #000; }

.HomebutSpan {
  color:#0099cc;
  margin-left:9px;
  font-size:200%;
}

.linkkI {
  display: inline-block;
  vertical-align:top;
  margin-bottom:5px;
  margin-top:5px;
  width:90%;
  height:55px;
  border:1px solid #000;
}

.linkk {
  display: inline-block;
  vertical-align:top;
  margin-top:15px;
  margin-bottom:15px;
  margin-top:5px;
  width:90%;
  height:55px;
  border:1px solid #000;
}

.blockk {
  display: inline-block;
  position: relative;
  margin-bottom:15px;
  width:90%;
  text-align: left;
  vertical-align: middle;
  height:55px;
  border:1px solid #000;

}

.Ccancel{
  width:100%;
  height:36px;
  display: none;
}

.Nnew{
  width:100%;
  height:55px;
  display: inline-block;
}

.Pcontainer {
  display: inline-block;
  text-align: center;
  vertical-align:top;
  margin-left:50px;
  margin-bottom:50px;
  width:43%;
  min-height:500px;
  border:1px solid #000;
}

.Additemblock {
  display: inline-block;
  position: relative;
  margin-bottom:15px;
  width:90%;
  text-align: left;
  vertical-align: middle;
  height:55px;
  border:1px solid #000;
}

.TCompletebut {
  width:36px;
  height:36px;
  display: inline-block;
  font-size: 130%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.TDeletebut {
  width:36px;
  height:36px;
  display: none;
  font-size: 130%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.TPrioB {
  width:36px;
  height:36px;
  display: inline-block;
  font-size: 130%;
  object-fit: contain;
  position: absolute;
  right: 48px;
  top: 8px;
}

.TPrioBnone {
  width:36px;
  height:36px;
  display: inline-block;
  font-size: 130%;
  object-fit: contain;
  position: absolute;
  right: 48px;
  top: 8px;
}

.line{
width: 100%;
border-bottom: 1px solid black;
display: inline-block;
vertical-align: top;
}

.centerer:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.CViews
{
  display: inline-block;
  vertical-align:top;
  margin-bottom:5px;
  width:333px;
  height:55px;
  border:1px solid #000;
  position: absolute;
  left: 41%;
}

.hbutton {
  color: white;
  background: #7fcad0;
  padding: 9px;
  display: inline-block;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

.hbutton1 {
  color: white;
  background: #7fcad0;
  width: 70%;
  padding: 9px;
  display: inline-block;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

.blockS {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  display: inline-block;
  text-align: center;
  vertical-align:top;
  margin-left:5px;
  margin-right:10px;
  margin-bottom:5px;
  margin-top:5px;
  width:28%;
  height:43px;
  border:1px solid #000;
}

.blockN {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align:top;
  margin-right:10px;
  margin-left:5px;
  margin-bottom:5px;
  margin-top:5px;
  width:28%;
  height:43px;
  border:1px solid #000
}

.SimgC {
  height: 100%;
  width: 100%;
  object-fit: contain
}

.block001 {
  display: inline-block;
  margin-right:10%;
  vertical-align:top;
  margin-bottom:5%;
  min-width:230px;
  height:200px;
  border:1px solid #000;
}

.block002 {
  display: inline-block;
  margin-right:10%;
  vertical-align:top;
  min-width:100%;
  height:170px;
  border:0px solid #000;
}
</style>
